/* State listener. Iso is default view, PoV is first person view. */
.view-mode-pov .a-enter-vr {
	display: block;
}

.view-mode-iso .a-enter-vr {
	display: none;
}

* {
	font-family: sans-serif;
}

button {
	border: solid 1px #A9A9A9;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	outline: none;
}

#ground-top-panel {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 15%;
}
#back {
	width: 100%;
	background-color: #ff1a1a;
	font-size: 32px;
	font-weight: bold;
}

/* Top-right panel */

#UI-right-panel {
	position: absolute;
	top: 5px;
	right: 5px ;

	padding: 10px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px;

	text-align: center;
}

#UI-right-panel .label {
	display: block;

	width: 100%;

	margin: 10px 0px;
	padding: 5px 5px;

	text-align: center;
}

#UI-right-panel #top-buttons {
	width: 100%;
	text-align: center;
}

#UI-right-panel button {
	padding: 10px;
	background: #FFFFFF;
}

#UI-right-panel button:hover {
	background: #d1ebff;
}

#camera-move {
	width: 125px;
	height: 85px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

#camera-move button {
	text-align: center;
	padding: 5px 10px;
}

#camera-move-horizontal {
	position: relative;
	float: left;
	display: block;
	width: 100%;

	text-align: center;
}
#camera-left, #camera-right {
	display: inline-block;
}
#camera-up, #camera-down {
	display: block;
	margin-left: auto;
	margin-right: auto ;
}

/* Selected asset options */

#UI-selected-asset-options {
	display: none;
	position: absolute;
	top: 30px;
	left: 20px;
	z-index: 5;

	padding: 5px;

	background: #FFFFFF;

	border-radius: 5px;

	/*background: background: rgba(255, 255, 255, 0.5);;*/
	/*border-radius: 2px;*/

	/*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);*/
}

#UI-selected-asset-options #selected-asset-label {
	display: inline-block;
	padding: 10px;

	margin-right: 7px;

	border-radius: 5px;
}

#UI-selected-asset-options button {
	display: inline-block;
	margin-right: 5px;

	padding: 8px;

	background: #FFFFFF;

	cursor: pointer;
}

#UI-selected-asset-options button:hover {
	background: #d1ebff;
}

#UI-selected-asset-options .selected-asset-label-title {
	position: absolute;
	top: -20px;
	font-size: 10px;
	z-index: 1;

	padding: 3px 5px;
	background: #F9F9F9;

	border-radius: 5px 5px 0px 0px;
}

/* Bottom panel */

#UI-bottom-panel {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;

	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px;

	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
}

#UI-bottom-panel.open {
	height: 215px;
}

#UI-bottom-panel.closed {
	height: 35px;
	overflow: hidden;
}

#UI-bottom-panel .drawer-toggle {
	position: relative;
	height: 35px;
	width: 100%;

	padding: 0px;

	background: #FFFFFF;
	border-radius: 0px;
	border: none;

	text-align: center;

	cursor: pointer;
}

#UI-bottom-panel .drawer-toggle:hover {
	background: #d1ebff;
}

#UI-bottom-panel #asset-selection-menu {
	/*padding: 5px 10px 5px 10px;*/
	margin-top: 10px;
	padding-left: 15px;
}

#UI-bottom-panel #asset-selection-menu button {
	margin-right: 5px;

	padding: 5px 10px;
	font-size: 12px;

	background: #FFFFFF;
	border: solid 1px #E0E0E0;

	cursor: pointer;
}

#UI-bottom-panel #asset-selection-menu button:hover {
	background: #d1ebff;
}

#UI-bottom-panel #asset-selection-menu .asset-category.active-category {
	background: #d1ebff;
}

#UI-bottom-panel #asset-selection-menu #vr-viewer-mode {
	float: right;
	margin-right: 15px;
}

#asset-picker {
	height: 140px;
	margin: 10px 0px 5px 15px;
}

#asset-picker .asset {
	height: 60px;
	width: 60px;

	border-radius: 3px;

	margin: 0px 5px 5px 0px;

	cursor: pointer;
}

#asset-picker .asset:hover {
	box-shadow: 0px 3px 3px 0px rgba(209, 235, 255, 0.6);
}

#asset-picker {
	display: block;
	/*width: 100%;*/
	height: 100%;

	overflow: auto;

	vertical-align: top;
}

#asset-toggle > button {
	width: 100%;
	float: left;
	height: 50%;

	font-size: 18px;
	font-weight: bold;
}

#asset-picker > button{

	display: inline-block;
	height: 100%;

	vertical-align: top;
}
#previous-asset, #next-asset {
	width: 8%; /* 10% of 80% */
	height: 100%;

	background: #FFFFFF;

	font-size: 32px;
 	font-weight: bold;
}
#previous-asset:hover, #next-asset:hover {
	background: #d1ebff;
}

.asset {
	width: 19%; /* 15% of 80% */
	padding: 0;
	font-size: 16px;
}

.active-category {
	background-color: #b1a6a6;
}
