/* State listener. Iso is default view, PoV is first person view. */

* {
	font-family: sans-serif;
}

button {
	border: solid 1px #a9a9a9;
	border-radius: 5px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	outline: none;
}

button svg.svg-icon:hover {
	background: none;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

#app {
	height: 100%;
	width: 100%;
}

#ground-top-panel {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 15%;
}
#back {
	width: 100%;
	background-color: #dc7627;

	font-size: 24px;
	font-weight: bold;

	border: solid 1px #000000;

	cursor: pointer;
}

#back:hover {
	background: #e8a26d;
}

#back:active {
	background: #ffffff;
}

#UI-asset-movement-panel {
	position: absolute;
	width: 160px;
	padding: 0px;
	background: none;
	border-radius: 0px;

	text-align: center;
}

#UI-asset-movement-panel .label {
	padding: 2px 2px;
	background: none;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;

	cursor: pointer;
}
#UI-asset-movement-panel button {
	background: none;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;
}

#UI-asset-movement-panel #camera-move {
	width: 160px;
}

#UI-asset-movement-panel #camera-move-horizontal #camera-left {
	float: left;
}

#UI-asset-movement-panel #camera-move-horizontal #camera-right {
	float: right;
}

/* Top-right panel */

#UI-right-panel {
	position: absolute;
	top: 5px;
	right: 5px;

	padding: 0px;
	background: none;
	border-radius: 0px;

	text-align: center;
}

#UI-right-panel .label {
	display: block;

	width: 100%;

	margin: 10px 0px;
	padding: 5px 5px;

	text-align: center;
}

#UI-right-panel #top-buttons {
	width: 100%;
	text-align: center;
}

#UI-right-panel button {
	padding: 2px 2px;
	background: none;
	border: 0px;
	border-radius: 0px;
	box-shadow: none;

	cursor: pointer;
}

#camera-move {
	width: 145px;
	height: 85px;
	margin-left: auto;
	margin-right: auto;
}

#camera-move button {
	text-align: center;
}

#camera-move button:hover svg circle,
#camera-move button:hover svg path,
#camera-move button:hover svg polygon,
#camera-move button:hover svg rect {
	fill: #e8a26d;
}

#camera-move button:active svg path,
#camera-move button:active svg circle,
#camera-move button:active svg polygon,
#camera-move button:active svg rect {
	fill: #ffffff;
}

#camera-zoom-in:hover svg polygon,
#camera-zoom-out:hover svg rect {
	fill: #e8a26d;
}

#camera-zoom-in:active svg polygon,
#camera-zoom-out:active svg rect {
	fill: #ffffff;
}

#camera-move-horizontal {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	top: -15px;

	text-align: center;
}
#camera-left,
#camera-right {
	display: inline-block;
}
#camera-up,
#camera-down {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#camera-down {
	position: relative;
	top: -30px;
}

#camera-zoom-in,
#camera-zoom-out {
	display: inline-block;
	margin-top: 30px;
	margin-right: 3px;
}

#camera-move.manipulation polygon{
	fill: orange;
}

/* Selected asset options */

#UI-selected-asset-options {
	position: absolute;
	top: 30px;
	left: 5px;
	z-index: 5;

	width: 60px;

	padding: 15px 5px 5px 5px;
}

#UI-selected-asset-options button {
	display: block;

	border: 0px;
	border-radius: 0px;
	box-shadow: none;
	background: none;

	cursor: pointer;
}

/*#UI-selected-asset-options button:first-child {
	margin-top: 10px;
}*/

#UI-selected-asset-options button:hover svg path,
#UI-selected-asset-options button:hover svg rect,
#UI-selected-asset-options button:hover svg polygon {
	fill: #e8a26d;
}

#UI-selected-asset-options button:active svg path,
#UI-selected-asset-options button:active svg rect,
#UI-selected-asset-options button:active svg polygon {
	fill: #ffffff;
}

#UI-selected-asset-options #selected-asset-label {
	position: absolute;
	top: -10px;

	width: 300px;

	font-size: 16px;
	z-index: 1;
}

#UI-selected-asset-options #selected-asset-label .selected-asset-label-title {
	padding: 5px 10px 5px 10px;
	background: #ffffff;
	border-radius: 5px;
}

#selected-asset-tooltip {
	width: 100%;
	text-align: center;
}

#selected-asset-tooltip span {
	display: inline-block;
	position: relative;
	top: 25px;

	text-align: center;
	font-size: 16px;
	z-index: 1;
	padding: 5px 10px 5px 10px;
	background: #fdd89c;
	border: 1px solid black;
	border-radius: 5px;
}

#selected-asset-tooltip span.error {
	background: #ffaaaa;
}

/* Bottom panel */

#UI-bottom-panel {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;

	background: rgba(255, 255, 255, 0.7);
	border-radius: 5px;

	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
}

#UI-bottom-panel.open {
	height: 235px;
}

#UI-bottom-panel.closed {
	height: 35px;
	overflow: hidden;
}

#UI-bottom-panel .drawer-toggle {
	position: relative;
	height: 35px;
	width: 100%;

	padding: 0px;

	background: #ffffff;
	border-radius: 0px;
	border: none;

	text-align: center;

	cursor: pointer;
}

#UI-bottom-panel .drawer-toggle:hover {
	background: #d1ebff;
}

#UI-bottom-panel #asset-selection-menu {
	margin-top: 10px;
	padding-left: 15px;
}

#UI-bottom-panel #asset-selection-menu button {
	margin-right: 5px;

	padding: 5px 10px;
	font-size: 15px;

	background: #ffffff;
	border: solid 1px #e0e0e0;

	cursor: pointer;
}

#UI-bottom-panel #asset-selection-menu button:hover {
	background: #e5fbff;
}

#UI-bottom-panel #asset-selection-menu .asset-category.active-category {
	background: #d1ebff;
}

#UI-bottom-panel #asset-selection-menu #vr-viewer-mode {
	float: right;
	margin-right: 15px;
}

#UI-bottom-panel #asset-selection-menu #vr-viewer-mode.active-category {
	background: #fdd89c;
	border: 1px solid black;
}

#asset-picker {
	height: 140px;
	margin: 10px 0px 5px 15px;
}

#asset-picker .asset {
	height: 60px;
	width: 60px;

	border-radius: 3px;

	margin: 0px 5px 5px 0px;

	cursor: pointer;
}

#asset-picker .asset:hover {
	box-shadow: 0px 3px 3px 0px rgba(209, 235, 255, 0.6);
}

#asset-toggle > button {
	width: 100%;
	float: left;
	height: 50%;

	font-size: 18px;
	font-weight: bold;
}

#asset-picker > button {
	display: inline-block;
	height: 100%;
}

#previous-asset,
#next-asset {
	width: 8%; /* 10% of 80% */
	height: 100%;

	background: #ffffff;

	font-size: 32px;
	font-weight: bold;
}
#previous-asset:hover,
#next-asset:hover {
	background: #d1ebff;
}

.asset {
	width: 19%; /* 15% of 80% */
	padding: 0;
	font-size: 16px;
}

.asset-selected-icon {
	border: solid 3px #e8a26d;
}

.active-category {
	background-color: #b1a6a6;
}

#categories-list {
	width: 31%;
}

button.a-enter-vr-button {
	margin-bottom: 10px;
}

#vr-gif {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}

.button-container {
	display: inline-block;
	width: 60px;
	margin: 0px 5px 0px 0px;
	padding: 5px;

	vertical-align: top;
	text-align: center;

	background: #ffffff;
	border-radius: 6px;

	font-size: 12px;
}

.sticker-box {
	position: absolute;
	height: 90px;
	width: 90px;
}

#top-sticker-box {
	left: 440px;
	top: 190px;
}

#right-sticker-box {
	left: 565px;
	top: 290px;
}

#bottom-sticker-box {
	left: 440px;
	top: 400px;
}

#left-sticker-box {
	left: 320px;
	top: 290px;
}

.sticker-arrow-left {
	position: absolute;
	margin-left: -34px;
	top: 10px;
}

.sticker-arrow-right {
	position: absolute;
	margin-left: 40px;
	top: 10px;
}

.edit-wall-sticker {
	width: 70px;
	height: 70px;
	position: absolute;
	border: 2px solid black !important;
	background-size: 100% 100% !important;
	background-position: center center;
}

#keyboard-shortcut {
	position: absolute;
	bottom: 5px;
	right: 15px;
}

#keyboard-shortcut.active {
	background-color: #ddeeff;
}

#help-pane {
	width: 350px;
	height: 450px;
	position: absolute;
	bottom: 25px;
	right: 5px;
	background: beige;
	font-size: 15px;
	padding: 5px;
	overflow: overlay;
	border: 1px solid black;
	border-radius: 10px
}

#help-pane.reduced {
	width: 375px;
	height: 275px;
	overflow: scroll;
}

#help-pane h1 {
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
}

#help-pane ul {
	padding-left: 20px;
}

#help-pane ul li {
	padding-bottom: 3px;
}

#help-pane #version-info {
	text-align: center;
	font-size: 12px;
	margin-bottom: 0;
}

#close-help-pane {
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 12px;
}

#keyboard-checkbox {
	position: absolute;
	top: 55px;
	right: 15px;
	font-size: 16px;
}

